In [3]:
import pandas as pd
name=["Anubhaw","Subham","Pradeep","Aman","Suraj"]
pd.Series(name)

0    Anubhaw
1     Subham
2    Pradeep
3       Aman
4      Suraj
dtype: object

In [4]:
number=[10,8,9,3,4,11,18]

pd.Series(number)

0    10
1     8
2     9
3     3
4     4
5    11
6    18
dtype: int64

In [8]:
result=[True,False,True,False,True]
pd.Series(result)

0     True
1    False
2     True
3    False
4     True
dtype: bool

In [10]:
user=["Anubhaw","Subham","Pradeep","Aman","Suraj"]
s=pd.Series(user)
s

0    Anubhaw
1     Subham
2    Pradeep
3       Aman
4      Suraj
dtype: object

In [18]:
#ATTRIBUTES in Pandas

In [12]:
s.values #attributes in does'nt needs paranthesis

array(['Anubhaw', 'Subham', 'Pradeep', 'Aman', 'Suraj'], dtype=object)

In [14]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
s.dtype

dtype('O')

In [19]:
#METHODS in Pandas

In [22]:
rate=[10.21,35.48,45.61,21.45,35.41]
r=pd.Series(rate)
r

0    10.21
1    35.48
2    45.61
3    21.45
4    35.41
dtype: float64

In [24]:
r.sum()

148.16

In [25]:
r.product()

12549390.941910965

In [26]:
r.mean()

29.631999999999998

In [32]:
weeks=['Mon','Tue','Wed','Thur','Fri','Sat','Sun']
subject=['python','C++','Java','MySql','NodeJS','Ruby',"React"]
pd.Series(subject,weeks)
pd.Series(data=subject,index=weeks)

Mon     python
Tue        C++
Wed       Java
Thur     MySql
Fri     NodeJS
Sat       Ruby
Sun      React
dtype: object