In [41]:
import pandas as pd
pd.read_csv('Sample.csv')

,name,batch,category,price,description,img_url
0,Anubhaw,2k18,Laptop,10000,"Lorem ipsum dolor sit amet, consectetur adipis...",https://images-na.ssl-images-amazon.com/images...
1,Shivam,2k18,Table,300,"Lorem ipsum dolor sit amet, consectetur adipis...",https://encrypted-tbn0.gstatic.com/images?q=tb...
2,Priyanshu,2k19,HeadPhones,500,"Lorem ipsum dolor sit amet, consectetur adipis...",https://images-na.ssl-images-amazon.com/images...
3,Anajli,2k19,Electric Iron,600,"Lorem ipsum dolor sit amet, consectetur adipis...",https://cpimg.tistatic.com/04808180/b/5/Electr...
4,Anubhaw,2k18,Laptop,15000,"Lorem ipsum dolor sit amet, consectetur adipis...",https://images.anandtech.com/doci/15680/Swift-...
5,Shivam,2k18,Table,800,"Lorem ipsum dolor sit amet, consectetur adipis...",https://cdn.shopify.com/s/files/1/0191/2234/pr...
6,Priyanshu,2k19,Cycle,1500,"Lorem ipsum dolor sit amet, consectetur adipis...",https://www.avoncycles.com/images/ProductImage...
7,Anajli,2k19,Study Lamp,200,"Lorem ipsum dolor sit amet, consectetur adipis...",https://www.monexappliances.com/wp-content/upl...
8,Anubhaw,2k18,Cycle,1100,"Lorem ipsum dolor sit amet, consectetur adipis...",https://qph.fs.quoracdn.net/main-qimg-7e9c0811...
9,Subham,2k17,Book,300,"Lorem ipsum dolor sit amet, consectetur adipis...",https://kali.training/wp-content/uploads/2017/...

In [49]:
import pandas as pd
datas=pd.read_csv('Sample.csv')
datas.shape 
#shape returns count of rows and columns

(10, 6)

In [50]:
datas.size #returns (rows x columns)

60

In [66]:
data=pd.read_csv('Sample.csv',squeeze=True,usecols=["name"])
data

0      Anubhaw
1       Shivam
2    Priyanshu
3       Anajli
4      Anubhaw
5       Shivam
6    Priyanshu
7       Anajli
8      Anubhaw
9       Subham
Name: name, dtype: object

In [67]:
data.head() #first 5 elements
data.head(10)

0      Anubhaw
1       Shivam
2    Priyanshu
3       Anajli
4      Anubhaw
5       Shivam
6    Priyanshu
7       Anajli
8      Anubhaw
9       Subham
Name: name, dtype: object

In [25]:
data.tail() #last 5 elements
data.tail(10)

0      Anubhaw
1       Shivam
2    Priyanshu
3       Anajli
4      Anubhaw
5       Shivam
6    Priyanshu
7       Anajli
8      Anubhaw
9       Subham
Name: name, dtype: object

In [28]:
data.values
data.index
data.dtype

dtype('O')

In [29]:
data.is_unique #checks for unique data in the file

False

In [38]:
data.ndim #returns dimension of the data ,series is one dimensional data

1

In [51]:
data.name

0      Anubhaw
1       Shivam
2    Priyanshu
3       Anajli
4      Anubhaw
5       Shivam
6    Priyanshu
7       Anajli
8      Anubhaw
9       Subham
Name: name, dtype: object

In [68]:
data

0      Anubhaw
1       Shivam
2    Priyanshu
3       Anajli
4      Anubhaw
5       Shivam
6    Priyanshu
7       Anajli
8      Anubhaw
9       Subham
Name: name, dtype: object